use ELMA
go
create table Users (
[UserID]  INT NOT NULL IDENTITY(1,1),
[UserName] NVARCHAR(50) NOT NULL,
[Password] NVARCHAR(50) NOT NULL,
[Email] NVARCHAR(50) NULL,
CONSTRAINT PK_UserID PRIMARY KEY CLUSTERED ([UserID])
);