@{
    ViewBag.Title = "You have successfully registered";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>You have successfully registered</h2>
<p>Congratulations with successful registration!</p>
<p>To get started, you need to Log in to the system!</p>
<p>To be logged in, follow the link @Html.ActionLink("Log in", "Login", "User") </p>